Parametric Runtime Verification
===============================

Definitions
-----------

 - Events are abstractions of action of interest.
 - Traces are finite sequences of events.
 - Property is formal description of set of desired/undesired traces.



